<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"> 
        <img src="https://www.nicepng.com/png/full/412-4126033_service-maintenance-needs-services-icon-red-png.png" alt="" width="50" height="34" class="d-inline-block align-text-top">
        Angular passport-JWT
      </a>
      <form class="d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="getProtected()"> <i class="fa fa-dashboard"></i>&nbsp;Dashboard</button>
        <button type="button" class="btn btn-outline-success" (click)="signIn()"> <i class="fa fa-user"></i>&nbsp;Sign In</button>&nbsp;
        <button type="button" class="btn btn-outline-danger"> <i class="fa fa-user"></i>&nbsp;LogOut</button>

      </form>
    </div>
  </nav>
</div>

<div class="container py-3">
  <router-outlet></router-outlet>
</div>