<div class="jumbotron text-center kl">
    <h1 class="mean"><i>MEAN Authentication App</i></h1>
    <p class="lead">Welcome to our mean stack authentication app build from step by step for beginners.</p>
    <div>
        <a class="btn btn-primary" href="register" style='margin-right:16px'>Registration</a>
        <a class="btn btn-success" href="login">Login</a>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
      <h3>Express/Node Backend</h3>
      <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
    </div>
    <div class="col-md-4">
      <h3>Angular-CLI</h3>
      <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
    </div>
    <div class="col-md-4">
      <h3>JWT Tokens</h3>
      <p>Full featured authentication using JSON web tokens. Login and store user data</p>
    </div>
  </div>